@import "@scss/themes.scss";

.text-area {
	position: relative;

	label {
		pointer-events: none;
		position: absolute;
		left: 0.6em;
		top: 0.6em;
		transition: transform 200ms ease;
		span {
			margin-left: 0.5em;
		}
	}

	textarea {
		resize: vertical;
		background-color: transparent;
		color: inherit;
		border-width: 0.05em;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: currentColor;
		padding: 0.4em;
		font-size: 1em;
		font-weight: 500;
		width: 100%;
	}

	&:not([value=""])input,
	input:focus {
		@include themify() {
			border-bottom-color: themed("primary");
		}
		outline: unset;
		& ~ label {
			font-weight: 600;
			@include themify() {
				color: themed("primary");
			}
			transform: translateY(-1.35em) translateX(-0.8em) scale(0.8);
		}
	}
}
