.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	> div {
		display: flex;
		flex-direction: column;
		grid-gap: 5em;
		place-items: center;
		text-align: center;
		margin-bottom: 4em;
		> svg {
			width: 100vw;
		}
		h2 {
			font-weight: 300;
		}
	}
}
.troll {
	font-size: 20rem;
}
