@import "@scss/themes.scss";

.emotes {
	display: flex;
	flex-direction: row;
	grid-gap: 1rem;
}

$headingHeight: 3.25em;
$headingBorderRadius: 0.25em;
$headingDistance: 8.5em;
.above-content {
	display: flex;

	.heading-block {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		height: $headingHeight;
		padding-right: 2em;
		border-radius: $headingBorderRadius;
		border-bottom-right-radius: 0;
		border-top-right-radius: $headingBorderRadius;
		border-bottom-left-radius: 0;
		width: calc(100% - 8.5em);
		z-index: 2;

		@include themify() {
			background-image: linear-gradient(75deg, transparent calc(100% - 16em), themed("navBackgroundColor") 0);
		}
	}

	.create-button-wrapper {
		position: absolute;
		top: 0.5em;
		right: 0.35em;

		.create-button {
			position: relative;
			height: 3em;
			width: 100%;
			z-index: 5;
		}
	}

	.go-around-button {
		position: absolute;
		width: 1.25em;
		height: 1.25em;
		z-index: 1;
		top: $headingHeight;
		right: $headingDistance;
		border-bottom-left-radius: $headingBorderRadius;

		@include themify() {
			background-image: linear-gradient(45deg, transparent 50%, themed("navBackgroundColor") 0%);
		}
	}

	.heading-end {
		position: absolute;
		width: 8.5em;
		height: 1.25em;
		right: 0;
		top: $headingHeight;
		z-index: 1;
		border-top-right-radius: $headingBorderRadius;

		span {
			height: 100%;
			font-size: 0.75em;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include themify() {
			background-color: themed("navBackgroundColor");
		}
	}
}

.listing {
	position: relative;
	width: 100%;
	flex-grow: 1;

	.emote-page {
		display: flex;
		height: calc(100% - 6em);
	}

	.cards-list-wrapper {
		display: block;
		width: 100%;
		margin-top: 5em;
		justify-content: space-between;

		.cards-list {
			display: flex;
			overflow: hidden;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			height: 100%;
		}
	}

	.slide-left {
		animation: left 1s ease-in forwards;
	}

	@keyframes left {
		100% {
		  transform: translate3d(100vw, 0, 0);
		}
	}

	.page-switch-button {
		min-width: 100px;
		height: 50%;
		align-self: center;

		.inner {
			width: 100%;
			height: 100%;
			transition: all 0.1s ease-in;
			text-align: center;

			.chevron {
				height: 100%;
			}

			&:hover {
				color: rgba(255, 255, 255, 100%);
				box-shadow: 0 5px 15px rgba(145, 92, 182, 80%);
			}
		}
	}

	.loader {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		min-height: 100%;

		:first-child {
			width: 8em;
			height: 8em;
			margin-bottom: 2em;
		}

		.loading-spinner {
			svg {
				animation: ppCircle linear infinite;
				animation-duration: var(--loading-spinner-speed, 0.5s);
				transform-origin: var(--loading-spinner-radius, 4em) var(--loading-spinner-radius, 4em);
				width: 2em;
				height: 2em;
			}
		}
		@keyframes ppCircle {
			from {
				transform: rotateZ(-360deg);
			}
			to {
				transform: rotateZ(0deg);
			}
		}

		.searching-title {
			font-size: 2em;
		}
		.searching-slow {
			color: orange;
		}
		&.has-error {
			color: red;
		}
		button {
			margin-top: 1em;
		}
	}
}

.heading {
	display: flex;
	flex-direction: column;
	grid-gap: 0.5em;
	align-items: flex-end;
	padding-top: 0.5em;
}

.add-emote {
	font: inherit;
	float: right;
	color: white;
	transition: background-color 200ms ease;
	@include themify() {
		background-color: themed("primary");
		border: 0.1em solid darken(themed("primary"), 0.5);

		&:hover {
			background-color: lighten(themed("primary"), 8);
		}
		&:focus {
			background-color: darken(themed("primary"), 8);
		}
	}
	padding: 0.5em;
	border-radius: 0.5em;
	width: 10em;
	text-align: center;
}

.paginator-block {
	display: flex;
	justify-content: flex-end;
	margin-right: 1em;
}
