@import "@scss/themes.scss";

.emotes {
	display: flex;
	flex-direction: row;
	grid-gap: 1rem;
}

$headingHeight: 3.25em;
$headingBorderRadius: 0.25em;
$headingDistance: 8.5em;
.above-content {
	display: flex;

	.heading-block {
		position: absolute;
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: flex-end;
		text-align: center;

		height: $headingHeight;
		padding-right: 1em;
		border-radius: $headingBorderRadius;
		border-bottom-right-radius: 0;
		border-top-right-radius: $headingBorderRadius;
		border-bottom-left-radius: 0;
		width: calc(100% - 8.5em);
		z-index: 2;

		.text-input {
			width: 9em;
		}

		> .heading-item.search {
			display: grid;
			column-gap: 0.33em;
			grid-template-columns: auto 1em;
			align-items: center;

			> .search-filters-button {
				position: relative;
				right: 2em;
				cursor: pointer;
			}
			> .search-filters {
				position: absolute;
				top: 3em;
				width: 9em;
				border-radius: 0.25em;

				> div {
					display: grid;
					row-gap: 1em;
					padding: 0.5em;
					font-size: 0.85rem;
				}
			}
		}
	}

	.avif-experiment {
		z-index: 10;
		padding: 0.5em;
		display: flex;
		align-items: center;
		gap: 0.5em;
		margin: 0 auto;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);

		> div {
			display: inline;
			font-size: 0.75em;
			padding-right: 2.5em;
			text-align: center;

			> p:nth-child(1) {
				text-align: end;
				font-size: 0.66em;
				color: orange;
			}
		}
		> svg {
			font-size: 2em;
		}

		@media screen and (max-width: 800px) {
			> div {
				display: none;
			}
		}
	}

	@include themify() {
		> .heading-block {
			background-image: linear-gradient(75deg, transparent calc(100% - 23em), themed("navBackgroundColor") 0);
		}

		.avif-experiment {
			background-image: linear-gradient(75deg, transparent calc(100% - 21em), themed("navBackgroundColor") 0);
		}

		> .create-button-wrapper {
			background-color: themed("navBackgroundColor");
		}

		> .down-edge {
			background-image: linear-gradient(45deg, transparent 50%, themed("navBackgroundColor") 0%);
		}

		.heading-item.search > .search-filters {
			background-color: lighten(themed("backgroundColor"), 3);
			box-shadow: 0.2em 0.2em 0.8em themed("backgroundColor");
		}
	}

	.create-button-wrapper {
		position: absolute;
		right: 0.25em;
		height: 3.25em;
		width: 8.5em;

		> .create-button {
			margin-left: 0.33em;
			margin-top: 0.5em;
		}
	}

	.down-edge {
		position: absolute;
		width: 1.25em;
		height: 1.25em;
		z-index: 1;
		top: $headingHeight;
		right: $headingDistance;
		border-bottom-left-radius: $headingBorderRadius;
	}

	.heading-end {
		position: absolute;
		width: 8.5em;
		height: 1.25em;
		right: 0;
		top: $headingHeight;
		z-index: 1;
		border-top-right-radius: $headingBorderRadius;

		span {
			height: 100%;
			font-size: 0.75em;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include themify() {
			background-color: themed("navBackgroundColor");
		}
	}
}

.listing {
	position: relative;
	width: 100%;
	flex-grow: 1;

	.emote-page {
		display: flex;
		height: calc(100% - 2.5em);
	}

	.cards-list-wrapper {
		display: flex;
		width: 100%;
		margin-top: 3em;
		justify-content: center;

		.cards-list {
			display: flex;
			align-self: center;
			overflow: hidden;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1em;
			padding: 0.5em;

			&.loading {
				position: absolute;
				visibility: hidden;
			}
		}
	}

	.page-switch-button {
		min-width: 100px;
		height: 50%;
		align-self: center;

		.inner {
			width: 100%;
			height: 100%;
			transition: all 0.1s ease-in;
			text-align: center;

			.chevron {
				height: 100%;
			}

			&:hover {
				color: rgba(255, 255, 255, 100%);
				box-shadow: 0 5px 15px rgba(145, 92, 182, 80%);
			}
		}
	}

	.loader {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		min-height: 100%;

		:first-child {
			width: 8em;
			height: 8em;
			margin-bottom: 2em;
		}

		.loading-spinner {
			svg {
				animation: ppCircle linear infinite;
				animation-duration: var(--loading-spinner-speed, 0.5s);
				transform-origin: var(--loading-spinner-radius, 4em) var(--loading-spinner-radius, 4em);
				width: 2em;
				height: 2em;
			}
		}
		@keyframes ppCircle {
			from {
				transform: rotateZ(-360deg);
			}
			to {
				transform: rotateZ(0deg);
			}
		}

		.searching-title {
			font-size: 2em;
		}
		.searching-slow {
			color: orange;
		}
		&.has-error {
			color: red;
		}
		button {
			margin-top: 1em;
		}
	}
}

.heading {
	display: flex;
	flex-direction: column;
	grid-gap: 0.5em;
	align-items: flex-end;
	padding-top: 0.5em;
}

.util-block {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.no-emotes {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
	backdrop-filter: blur(0.4em);

	> span {
		font-size: 3em;
		text-align: center;
		padding: 1em;
	}
}
