@import "@scss/themes.scss";

.emotes {
	display: flex;
	flex-direction: row;
	grid-gap: 1rem;
}

$headingHeight: 3.25em;
$headingBorderRadius: 0.25em;
$headingDistance: 8.5em;
.above-content {
	display: flex;

	.heading-block {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-align: center;
		height: $headingHeight;
		padding-right: 2em;
		border-radius: $headingBorderRadius;
		border-bottom-right-radius: 0;
		border-top-right-radius: $headingBorderRadius;
		border-bottom-left-radius: 0;
		width: calc(100% - 8.5em);
		z-index: 2;

		.text-input {
			width: 9em;
		}

		> div.heading-item {
			margin-left: 1em;
		}
	}

	@include themify() {
		> .heading-block {
			background-image: linear-gradient(75deg, transparent calc(100% - 21em), themed("navBackgroundColor") 0);
		}

		> .create-button-wrapper {
			background-color: themed("navBackgroundColor");
		}

		> .down-edge {
			background-image: linear-gradient(45deg, transparent 50%, themed("navBackgroundColor") 0%);
		}
	}

	.create-button-wrapper {
		position: absolute;
		right: 0.25em;
		height: 3.25em;
		width: 8.5em;

		> .create-button {
			margin-left: 0.33em;
			margin-top: 0.5em;
		}
	}

	.down-edge {
		position: absolute;
		width: 1.25em;
		height: 1.25em;
		z-index: 1;
		top: $headingHeight;
		right: $headingDistance;
		border-bottom-left-radius: $headingBorderRadius;
	}

	.heading-end {
		position: absolute;
		width: 8.5em;
		height: 1.25em;
		right: 0;
		top: $headingHeight;
		z-index: 1;
		border-top-right-radius: $headingBorderRadius;

		span {
			height: 100%;
			font-size: 0.75em;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include themify() {
			background-color: themed("navBackgroundColor");
		}
	}
}

.listing {
	position: relative;
	width: 100%;
	flex-grow: 1;

	.emote-page {
		display: flex;
		height: calc(100% - 2.5em);
	}

	.cards-list-wrapper {
		display: block;
		width: 100%;
		margin-top: 5em;
		justify-content: space-between;

		.cards-list {
			display: flex;
			overflow: hidden;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			// height: 100%;

			&.loading {
				position: absolute;
				visibility: hidden;
			}
		}
	}

	.slide-left {
		animation: left 1s ease-in forwards;
	}

	@keyframes left {
		100% {
			transform: translate3d(100vw, 0, 0);
		}
	}

	.page-switch-button {
		min-width: 100px;
		height: 50%;
		align-self: center;

		.inner {
			width: 100%;
			height: 100%;
			transition: all 0.1s ease-in;
			text-align: center;

			.chevron {
				height: 100%;
			}

			&:hover {
				color: rgba(255, 255, 255, 100%);
				box-shadow: 0 5px 15px rgba(145, 92, 182, 80%);
			}
		}
	}

	.loader {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		min-height: 100%;

		:first-child {
			width: 8em;
			height: 8em;
			margin-bottom: 2em;
		}

		.loading-spinner {
			svg {
				animation: ppCircle linear infinite;
				animation-duration: var(--loading-spinner-speed, 0.5s);
				transform-origin: var(--loading-spinner-radius, 4em) var(--loading-spinner-radius, 4em);
				width: 2em;
				height: 2em;
			}
		}
		@keyframes ppCircle {
			from {
				transform: rotateZ(-360deg);
			}
			to {
				transform: rotateZ(0deg);
			}
		}

		.searching-title {
			font-size: 2em;
		}
		.searching-slow {
			color: orange;
		}
		&.has-error {
			color: red;
		}
		button {
			margin-top: 1em;
		}
	}
}

.heading {
	display: flex;
	flex-direction: column;
	grid-gap: 0.5em;
	align-items: flex-end;
	padding-top: 0.5em;
}

.paginator-block {
	display: flex;
	justify-content: flex-end;
	margin-right: 0.25em;
}

.no-emotes {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
	backdrop-filter: blur(0.4em);

	> span {
		font-size: 3em;
		text-align: center;
		padding: 1em;
	}
}
