@import "@scss/themes.scss";

$navHeight: 4.5em;
main.home {
	position: fixed;
	top: 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	@include themify() {
		background-color: themed("navBackgroundColor");
		> .info {
			color: white;
			background-image: linear-gradient(22.5deg, darken(themed("primary"), 8), invert(themed("accent")));
		}

		.info > .info-content .feature-bullet {
			background-image: linear-gradient(45deg, themed("accent"), lighten(themed("accent"), 16));
		}
		.page-body {
			background-color: themed("backgroundColor");
		}
	}
}

.info {
	width: 100%;
	clip-path: polygon(100% 85%, 0 100%, 0 0, 100% 0);

	> .info-content {
		margin-top: $navHeight;
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 2em;

		> div {
			justify-content: center;
			align-items: center;
		}

		> :nth-child(1) {
			display: flex;
			flex-grow: 1;
			transform: translateY(2em);

			> .logo {
				--logo-primary: currentColor;
				--logo-secondary: #4fc2bc;
				font-size: 12em;
			}
			> .slogan {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				margin-top: 2em;
				margin-left: 1em;
				padding-bottom: 3em;

				h1 {
					font-size: 3em;
					font-weight: 600;
					width: 8em;
					font-family: "Work Sans", sans-serif;
				}
				p {
					font-size: 1.15em;
					font-weight: 400;
					width: 18em;
				}
			}
		}
		> :nth-child(2) {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			> .feature-list {
				margin-top: 0.5em;
				margin-left: 0.5em;

				> .feature-point > .feature-bullet {
					display: inline-block;
					white-space: nowrap;
					margin-right: 0.5em;
					vertical-align: middle;
					width: 1em;
					height: 1em;
					clip-path: circle(50% at 50% 50%);
				}
				> .feature-point > :nth-child(2) {
					vertical-align: middle;
				}
			}
		}
	}
}

.page-body {
	display: flex;
	flex-grow: 1;
}

@media screen and (max-width: 1200px) {
	.info {
		font-size: 1rem !important;
		flex-wrap: wrap;
		padding-bottom: 0.5em;
		> .info-content {
			flex-direction: column;
			justify-content: center;
			margin-left: 0;
			margin-right: 0;

			> :nth-child(1) > .slogan > h1 {
				font-size: 2em;
			}
		}
	}
	.logo {
		font-size: 6em !important;
	}
}

.learn-more {
	color: #92ca21;
	text-decoration: none;
	&:hover {
		color: inherit;
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

.socials {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@include themify() {
		background: themed("footerBackgroundColor");
	}
	.social {
		padding: 1.5em 1em;
		display: grid;
		color: inherit;
		text-decoration: none;
		.social-split {
			display: grid;
			grid-template-rows: 2em auto;
			gap: 0.5em;
			place-items: center;
			text-align: center;
			color: inherit;
		}
		svg {
			font-size: 1.5em;
		}
	}
}
