@import "@scss/themes.scss";

$navHeight: 4.5em;
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	@include themify() {
		> .info {
			background-image: linear-gradient(22.5deg, darken(themed("primary"), 8), invert(themed("accent")));
		}

		.info > .info-content .feature-bullet {
			background-image: linear-gradient(45deg, themed("accent"), lighten(themed("accent"), 16));
		}
		.heading-splitter {
			background-color: themed("navBackgroundColor");
		}
	}
}

.info {
	transform: translateY(-$navHeight);
	height: max-content;
	width: 100%;
	z-index: 2;

	clip-path: polygon(100% 85%, 0 100%, 0 0, 100% 0);

	> .info-content {
		margin-top: $navHeight;
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 3.25em;

		> div {
			justify-content: center;
			align-items: center;
		}

		> :nth-child(1) {
			display: flex;
			flex-grow: 1;
			transform: translateY(2em);

			> .logo {
				--logo-primary: currentColor;
				--logo-secondary: #4fc2bc;
				font-size: 12em;
			}
			> .slogan {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				margin-top: 2em;
				margin-left: 1em;
				padding-bottom: 3em;

				h1 {
					font-size: 3em;
					font-weight: 600;
					width: 8em;
					font-family: "Work Sans", sans-serif;
				}
				p {
					font-size: 1.15em;
					font-weight: 400;
					width: 18em;
				}
			}
		}
		> :nth-child(2) {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			> .feature-list {
				margin-top: 0.5em;
				margin-left: 0.5em;

				> .feature-point > .feature-bullet {
					display: inline-block;
					white-space: nowrap;
					margin-right: 0.5em;
					vertical-align: middle;
					width: 1em;
					height: 1em;
					clip-path: circle(50% at 50% 50%);
				}
			}
		}
	}
}

.heading-splitter {
	position: absolute;
	transform: translateY(200%);
	width: 100%;
	height: 8em;
}

.page-body {
	padding-top: 1em;
	height: 100%;
	background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 1200px) {
	.info {
		font-size: 1rem !important;
		flex-wrap: wrap;
		padding-bottom: 0.5em;
		> .info-content {
			flex-direction: column;
			justify-content: center;
			margin-left: 0;
			margin-right: 0;

			> :nth-child(1) > .slogan > h1 {
				font-size: 2em;
			}
		}
	}
	.logo {
		font-size: 6em !important;
	}
	.heading-splitter {
		transform: translateY(320%);
	}
}

.learn-more {
	color: #92ca21;
	text-decoration: none;
	&:hover {
		color: inherit;
	}
}

.downloads {
	display: flex;
	flex-direction: column;
	grid-gap: 1em;
	place-items: center;
	.title {
		display: flex;
		grid-gap: 0.5em;
		font-size: 1em;
		.download-icon {
			font-size: 1.5em;
			margin-bottom: 0.25em;
		}
	}
	.options {
		$border: 0.1em solid currentColor;
		border-top: $border;
		border-bottom: $border;
		width: unquote("min(28rem, 80vw)");
		display: flex;
		padding: 0 0.5em;
		flex-wrap: wrap;
		// grid-gap: 1.25em;
		.option {
			color: inherit;
			text-decoration: none;
			flex-grow: 1;
			text-align: center;
			position: relative;
			margin-top: 2.5em;
			margin-bottom: 1em;
			.tag {
				position: absolute;
				top: -1.6em;
				font-size: 0.8em;
				left: 0;
				right: 0;
				text-align: center;
				> span {
					padding: 0.2em;
					border-radius: 0.75em;
					&.rainbow {
						color: white;
						background: linear-gradient(
							124deg,
							#ff2400,
							#e81d1d,
							#2f9740,
							#3b9194,
							#2b1de8,
							#dd00f3,
							#dd00f3
						);
						background-size: 1800% 1800%;
						animation: rainbow 18s ease infinite;
					}
					&.chatterino {
						color: white;
						background-color: #1d949c;
					}
					&.mobile {
						color: white;
						background-color: #24a14e;
					}
				}
			}
			.code-icon,
			svg {
				font-size: 3em;
			}
		}
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

.socials {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@include themify() {
		background: themed("footerBackgroundColor");
	}
	.social {
		padding: 3em 1em;
		display: grid;
		color: inherit;
		text-decoration: none;
		.social-split {
			display: grid;
			grid-template-rows: 2em auto;
			grid-gap: 0.5em;
			place-items: center;
			text-align: center;
			color: inherit;
		}
		svg {
			font-size: 1.5em;
		}
	}
}
