@import "./themes.scss";
@import "./constants.scss";

nav {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100vw;
	height: 4.5rem;
	max-height: 4.5rem;
	min-height: 4.5rem;
	padding: 0 1.5vw;
	display: flex;
	font-size: 1.5rem;
	background-color: transparent;
	transition: background-color 200ms ease;
	&.atTop,
	&:hover {
		@include themify() {
			background: themed("navBackgroundColor");
		}
	}
}

.app-title {
	--logo-primary: currentColor;
	--logo-secondary: #4fc2bc;
	z-index: 1;
	display: flex;
	align-items: center;

	&:hover {
		color: inherit;
	}

	.logo {
		display: flex;
		width: 1.5em;
		height: 1em;
		font-size: 1.25em;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.text .name {
		font-weight: 700;
		font-family: "Work Sans", sans-serif;
		font-size: 1.25em;
	}

	.dev-stage-text {
		width: 0;
		position: relative;
		font-size: 0.5em;
		bottom: -1em;
		left: -30%;
		font-family: "Work Sans", sans-serif;
		font-weight: 900;
		color: rgb(200, 70, 240);

		&.env-offset {
			bottom: 1em;
			left: -100%;
			font-weight: 600;
		}
	}
}

.collapse {
	display: flex;
	flex-grow: 1;
}

.main-links {
	display: flex;
	grid-gap: 0.5em;
	flex-grow: 1;
	width: 0;
}

.nav-link {
	color: inherit;
	text-decoration: none;
	display: grid;
	place-items: center;
	padding: 0.5em 1em;
	border-bottom: 0.1em solid transparent;
	width: 6.5em;
	&.router-link-exact-active {
		border-color: currentColor;
	}
	&.admin {
		color: rgb(2, 136, 209);
	}
	&:hover {
		@include themify() {
			background: themed("backgroundColor");
		}
	}
}

.account {
	display: flex;
	place-items: center;
	grid-gap: 0.5em;
	justify-content: right;
	padding: 0.5rem 0;
	position: absolute;
	right: 1.5vw;
	height: 100%;
	.pfp {
		min-width: 1.5em;
		min-height: 1.5em;
		border-radius: 50%;
		border: 0.1rem solid var(--user-color, currentColor);
	}
	.name {
		color: var(--user-color, currentColor);
	}
}

.twitch-button {
	display: flex;
	align-items: center;
	cursor: pointer;
	border: 0.1em solid currentColor;
	border-radius: 0.25em;
	padding: 0.5em;
	background-color: $twitchColor;
	font: inherit;
	font-size: 0.7em;
	transition: background-color 200ms ease;
	&:hover {
		background-color: mix($twitchColor, black, 85);
	}
	&:focus {
		background-color: mix($twitchColor, black, 70);
	}
	> * {
		color: white;
	}
}

.separator {
	height: 1em;
	width: 0.1em;
	background-color: currentColor;
	margin-right: 0.25em;
	margin-left: 0.5em;
}

// responsive stuff

.toggle-collapse {
	display: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	border: 0.1em solid transparent;
	padding: 0.5em;
	border-radius: 0.5em;
	place-self: center;
	&:hover {
		border-color: #303030;
	}
	&:active {
		background-color: #424242;
	}
}

@media screen and (max-width: 1000px) {
	.navOpen {
		@include themify() {
			background: themed("extreme") !important;
		}
		.collapse {
			min-height: calc(100vh - 4.5rem);
			min-width: 100vw;
			top: 4.5rem;
			left: 0;
			@include themify() {
				background: themed("extreme");
			}
			position: absolute;
			z-index: 10;
			flex-direction: column;
			.account {
				height: 5rem;
				width: 100vw;
				place-items: center;
				justify-content: center;
			}
			.main-links {
				flex-direction: column;
				justify-content: start;
				width: 100vw;
				order: 2;
				.nav-link {
					&.router-link-exact-active {
						border-color: transparent !important;
						@include themify() {
							background: themed("navBackgroundColor");
						}
					}
				}
			}
		}
		.account {
			position: unset;
		}
		.nav-link {
			width: 100vw;
		}
	}
	nav:not(.navOpen) {
		.collapse {
			display: none;
		}
	}
	.toggle-collapse {
		margin-left: auto;
		display: block;
	}
}
