$darkTextColor: #ececec;

$themes: (
	light: (
		color: #303030,
		backgroundColor: #e9e9e3,
		extreme: #f3f3ef,
		navBackgroundColor: mix(#0f0e16, #e9e9e3, 9.4),
		footerBackgroundColor: mix(#17132c, #e9e9e3, 8),
	),
	dark: (
		color: white,
		extreme: black,
		backgroundColor: #2c2a2c,
		navBackgroundColor: mix(black, #2c2a2c, 27.5),
		footerBackgroundColor: mix(black, #2c2a2c, 40),
	),
	troll-despair: (
		color: white,
		extreme: black,
		backgroundColor: black,
		navBackgroundColor: black,
		footerBackgroundColor: black,
	),
);

@mixin themify($themes: $themes) {
	@each $theme, $map in $themes {
		&.theme-#{$theme},
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}

			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
