$themes: (
	light: (
		color: #1f1f1f,
		extreme: #d0d0d0,
		primary: #29b6f6,
		accent: #3fd63f,
		warning: #f44336,
		backgroundColor: #ece6ee,
		secondaryBackgroundColor: #e3d3ee,
		navBackgroundColor: mix(black, #ece6ee, 9.4),
		footerBackgroundColor: mix(black, #ece6ee, 5),
	),
	dark: (
		color: rgb(230, 230, 230),
		extreme: black,
		primary: #0288d1,
		accent: #5ca20d,
		warning: #f44336,
		backgroundColor: #1e1e1e,
		secondaryBackgroundColor: #221f22,
		navBackgroundColor: mix(black, #303030, 50%),
		footerBackgroundColor: mix(black, #1e1e1e, 25%),
	),
	// 404 Themes
	troll-despair:
		(
			color: rgb(255, 255, 255),
			extreme: black,
			primary: rgb(26, 26, 26),
			accent: black,
			warning: black,
			backgroundColor: black,
			navBackgroundColor: black,
			footerBackgroundColor: black,
		),
	doctor-wtf: (
		color: white,
		extreme: black,
		primary: rgb(155, 50, 250),
		accent: black,
		warning: black,
		backgroundColor: #120458,
		navBackgroundColor: rgb(27, 76, 211),
		footerBackgroundColor: black,
	),
);

@mixin themify($themes: $themes) {
	@each $theme, $map in $themes {
		&.theme-#{$theme},
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}

			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
