@import "@scss/themes.scss";

.actions-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 3.25em;

	@include themify() {
		background-color: themed("navBackgroundColor");
	}

	@media screen and (max-width: 600px) {
		margin-left: 0;
	}

	gap: 0.1em;
	.action-group {
		display: flex;
		height: 100%;

		gap: 0.1em;

		.action-button {
			$skew: 30deg;
			height: 100%;
			transform: skewX(-$skew);
			display: flex;
			justify-content: center;
			padding-left: 1em;
			padding-right: 1em;

			cursor: pointer;
			transition: background-color 150ms ease;

			span {
				display: flex;
				text-align: center;
				align-items: center;
				font-size: 0.88rem;
				font-weight: 600;
				margin-left: 0.5em;
				height: 100%;
				transform: skewX(30deg);
				pointer-events: none;
				user-select: none;
			}
			@media screen and (max-width: 600px) {
				padding-left: 0.5em;
				span:not(.action-icon) {
					display: none;
				}
			}

			@include themify() {
				background-color: lighten(themed("backgroundColor"), 3);
				&:hover {
					background-color: lighten(themed("backgroundColor"), 9);
				}

				&[name="set-select"] {
					color: themed("accent");

					> div.separator {
						background-color: themed("accent");
					}
					> div.extended-interact {
						&:hover {
							background-color: transparentize(themed("accent"), 0.85);
						}
					}

					&[in-channel="true"] {
						color: themed("color");

						> div.separator {
							background-color: currentColor;
						}
						> div.extended-interact {
							&:hover {
								background-color: transparentize(lighten(themed("color"), 4), 0.85);
							}
						}
					}
					&[other-version-active="true"] {
						$color: rgb(200, 45, 170);
						color: $color;
						> div.separator {
							background-color: darken($color, 4);
						}
						> div.extended-interact {
							&:hover {
								background-color: transparentize(lighten($color, 4), 0.85);
							}
						}
					}
				}
				&[name="update"] {
					color: adjust-hue(themed("primary"), -2.5);
				}
				&[name="report"] {
					color: adjust-hue(themed("warning"), 25);
				}
				&[name="more"] {
					color: currentColor;
				}
				&[name="show-content"] {
					color: darken(invert(themed("warning")), 16);
				}
				&[name="delete"] {
					color: darken(themed("warning"), 16);
				}
				&[name="download"] {
					color: darken(themed("accent"), 16);
				}
				&[name="merge"] {
					color: adjust-hue(invert(darken(themed("primary"), 16)), -100);
				}
			}

			&[name="set-select"] {
				padding-right: 0;
				> div.separator {
					position: relative;
					margin-left: 1em;
					width: 0.1em;
				}

				> div.extended-interact {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 3em;
					[selector="icon"] {
						transform: skewX(30deg);
					}
				}
			}

			&[disabled="true"] {
				cursor: normal;
				filter: grayscale(100);
				> .action-icon {
					display: none;
				}
			}
		}

		.use-emote-note {
			display: none;

			> span > :nth-child(2) {
				display: flex;
				justify-content: center;
				&.as-self {
					color: rgb(150, 150, 150);
				}
			}

			&.menu-hover {
				margin-left: 3em;
			}
		}
		.action-button[name="set-select"]:hover ~ .use-emote-note {
			display: block;
			position: fixed;
			transform: translate(-1em, 5em);
			padding: 0.6em;
			font-size: 0.75rem;
			border-radius: 0.25em;

			@include themify() {
				background-color: lighten(themed("backgroundColor"), 2.5);
				box-shadow: 0.1em 0.1em 0.1em darken(themed("backgroundColor"), 2.5);
			}
		}
	}
}

.emote-btn {
	margin: 0.85em;
	margin-left: 0.4em;
	margin-right: 0.4em;
}
