@import "@scss/themes.scss";

.button-base {
	cursor: pointer;
	user-select: none;
	font: inherit;
	color: white;
	transition: background-color 200ms ease;

	&:not([disabled]) {
		&[color="primary"] {
			@include themify() {
				$color: themed("primary");

				background-color: $color;
				border: 0.1rem solid darken($color, 0.5);
				&:hover {
					background-color: lighten($color, 8);
				}
				&:focus {
					background-color: darken($color, 8);
				}
				&.no-bg {
					color: $color !important;
				}
			}
		}
		&[color="accent"] {
			@include themify() {
				$color: themed("accent");

				background-color: $color;
				border: 0.1rem solid darken($color, 0.5);
				&:hover {
					background-color: lighten($color, 8);
				}
				&:focus {
					background-color: darken($color, 8);
				}
				&.no-bg {
					color: $color !important;
				}
			}
		}
		&[color="warning"] {
			@include themify() {
				$color: themed("warning");

				background-color: $color;
				border: 0.1rem solid darken($color, 0.5);
				&:hover {
					background-color: lighten($color, 8);
				}
				&:focus {
					background-color: darken($color, 8);
				}
				&.no-bg {
					color: $color !important;
				}
			}
		}

		&[appearance="flat"] {
			border: none !important;
		}

		transition: background-color 200ms ease;
	}
	&[disabled] {
		background-color: rgba(90, 90, 90, 40%);
		border: none;
		pointer-events: none;
	}
	&.no-bg {
		background-color: transparent !important;
	}

	padding: 0.5rem;
	border-radius: 0.25rem;
	text-align: center;

	span {
		margin-left: 0.3rem;
		color: currentColor;
	}

	&.icon-button-type {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
