@import "../themes.scss";

.button-base {
	cursor: pointer;
	user-select: none;
	font: inherit;
	float: right;
	color: white;
	transition: background-color 200ms ease;

	&:not([disabled]) {
		@include themify() {
			&[color="primary"] {
				$color: themed("primary");

				background-color: $color;
				border: 0.1rem solid darken($color, 0.5);
				&:hover {
					background-color: lighten($color, 8);
				}
				&:focus {
					background-color: darken($color, 8);
				}
			}
			&[color="accent"] {
				$color: themed("accent");

				background-color: $color;
				border: 0.1rem solid darken($color, 0.5);
				&:hover {
					background-color: lighten($color, 8);
				}
				&:focus {
					background-color: darken($color, 8);
				}
			}
			&[color="warning"] {
				$color: themed("warning");

				background-color: $color;
				border: 0.1rem solid darken($color, 0.5);
				&:hover {
					background-color: lighten($color, 8);
				}
				&:focus {
					background-color: darken($color, 8);
				}
			}

			transition: background-color 200ms ease;
		}
	}
	&[disabled] {
		background-color: gray;
		pointer-events: none;
	}

	padding: 0.5rem;
	border-radius: 0.25rem;
	text-align: center;

	span {
		margin-left: 0.3rem;
		color: currentColor;
	}

	&.icon-button-type {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
