@import "../themes.scss";

.button-base {
	font: inherit;
	float: right;
	color: white;
	transition: background-color 200ms ease;

	@include themify() {
		&[color=primary] {
			$color: themed("primary");

			background-color: $color;
			border: 0.1em solid darken($color, 0.5);
			&:hover { background-color: lighten($color, 8); }
			&:focus { background-color: darken($color, 8); }
		}
		&[color=accent] {
			$color: themed("accent");

			background-color: $color;
			border: 0.1em solid darken($color, 0.5);
			&:hover { background-color: lighten($color, 8); }
			&:focus { background-color: darken($color, 8); }
		}
		&[color=warning] {
			$color: themed("warning");

			background-color: $color;
			border: 0.1em solid darken($color, 0.5);
			&:hover { background-color: lighten($color, 8); }
			&:focus { background-color: darken($color, 8); }
		}
	}

	padding: 0.5em;
	border-radius: 0.25em;
	text-align: center;

	span {
		margin-left: 0.3em;
		color: currentColor;
	}
}
