@import "@scss/themes.scss";

.comment {
	display: flex;
	min-height: 5vh;
	flex-direction: column;
	margin: 0 1vh;

	.user-tag {
		margin-bottom: 0.7vh;
	}

	.comment-text {
		font-size: 0.85em;
	}

	.time {
		text-align: right;
		font-size: x-small;
		font-style: italic;
		margin-right: 1vh;

		@include themify() {
			color: mix(themed("backgroundColor"), themed("color"), 15);
		}
	}
}
