.comment {
	display: flex;
	min-height: 5vh;
	flex-direction: column;
	margin: 0 1vh;



	.user-tag {
		color: rgb(255, 128, 234);
		margin-bottom: 0.7vh;
	}

	.time {
		text-align: right;
		color: #bbb;
		font-size: small;
		font-style: italic;
		margin-right: 1vh;
	}
  }
