.user-tag {
	display: flex;
	align-items: center;
	cursor: inherit;
	&[clickable="true"] {
		cursor: pointer;
	}

	.avatar {
		vertical-align: middle;
		display: inline-block;
		background-size: contain;
		border-style: solid;
		border-width: 0.05em;
		border-radius: 50%;
		margin-right: 0.25em;
	}

	.username {
		vertical-align: middle;
    }
}
.user-card-popper {
	position: absolute;
	z-index: 100;
}
