@import "@scss/themes.scss";

.user-card {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	min-width: 16rem;
	margin-top: 2rem;
	border-radius: 0.3rem;
	padding: 0.5em;
	padding-right: 1rem;

	@include themify() {
		background-color: darken(themed("backgroundColor"), 6);
		box-shadow: 0.175rem 0.175rem var(--user-card-role-border-color, darken(themed("backgroundColor"), 12));
	}

	.profile-banner {
		display: flex;
		align-items: center;
		padding: 0.5rem;
	}

	.profile-banner > .avatar {
		vertical-align: middle;
		display: inline-block;
		background-size: contain;
		border-style: solid;
		border-width: 0.05rem;
		border-radius: 50%;
		margin-right: 0.5rem;
		width: 3rem;
		height: 3rem;
	}

	.profile-banner > .username {
		font-size: 1rem;
	}

	.user-roles {
		display: flex;

		.user-role-chip {
			border-radius: 0.3rem;
			margin: 0.25rem;
			padding: 0.5rem;
			user-select: none;
			span {
				font-size: 1rem;
				color: inherit;
			}
			&.hidden {
				display: none;
			}
			@include themify() {
				background-color: themed("backgroundColor");
			}
		}
	}

	.user-actions {
		margin-top: 1rem;
		margin-left: 0.5em;
		display: flex;

		:only-child {
			margin: 0.25em;
		}
	}
}
