@import "@scss/themes.scss";

.emote-page {
	.heading-bar {
		padding: 0.75em;
		border-width: 0.05em;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@include themify() {
			background:
				linear-gradient(145deg, themed("navBackgroundColor") 25vw, transparent 0),
				linear-gradient(-145deg, themed("navBackgroundColor") 25vw, transparent 0);
			background-color: lighten(themed("backgroundColor"), 1);
		}

		.emote-name {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			width: 33%;

			.tiny-preview {
				min-width: 0.5em;
				min-height: 0.5em;
			}

			font-size: 1.125em;
			word-break: break-all;
			text-align: center;
			min-width: 8em;
			max-width: 18.5vw;
		}

		.emote-author {
			display: block;
			width: 33%;

			span {
				@include themify() {
					color: darken(themed("color"), 32);
				}
				margin-bottom: 0.25em;
				font-size: 0.85em;
			}
		}

		.creation-date {
			display: block;
			width: 33%;
			text-align: right;
			font-size: 0.85em;
			@include themify() {
				color: darken(themed("color"), 32);
				span {
					color: themed("color");
				}
			}
		}

		@media screen and (max-width: 850px) {
			@include themify() {
				background: none;
				background-color: themed("navBackgroundColor");
			}
		}
	}

	.preview-block {
		padding: 1em;
		border-radius: 0.3em;
		position: relative;

		@include themify() {
			background-color: lighten(themed("backgroundColor"), 1);
		}

		display: flex;
		align-items: baseline;
		justify-content: center;
		padding-left: 20%;
		padding-right: 20%;

		@media screen and (max-width: 1110px) {
			flex-direction: column-reverse;
			text-align: center;

			.preview-size {
				margin-top: 2em;
			}
		}

		.preview-size {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			margin-right: 1em;
			margin-left: 1em;

			@media screen and (max-width: 600px) {
				&.is-large {
					display: none;
				}
			}
		}

		&.is-loading {
			place-items: center;
			font-size: 1.5em;

			> .emote-is-processing {
				color: currentColor;
				animation: processingBlink 3s infinite ease-in-out;
				@keyframes processingBlink {
					0% {
						color: currentColor;
					}
					33% {
						color: red;
					}
					66% {
						color: currentColor;
					}
				}
			}
		}
	}

	.interactive-block {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;

		.item {
			width: 50%;
		}
		@media screen and (max-width: 900px) {
			.item {
				width: 100%;
			}
		}

		.actions-wrapper {
			display: flex;
			justify-content: center;
			width: 100%;

			@include themify() {
				background-color: themed("navBackgroundColor");
			}

			@media screen and (max-width: 600px) {
				margin-left: 0;
			}

			.interact-edge {
				width: 5em;
				@include themify() {
					&[right] {
						background-image: linear-gradient(-45deg, transparent 50%, lighten(themed("backgroundColor"), 1) 0);
					}
					&[left] {
						background-image: linear-gradient(45deg, transparent 50%, lighten(themed("backgroundColor"), 1) 0);
					}
				}
			}
		}

		.interact-separator {
			height: 1em;
			width: 100%;
			@include themify() {
				background-color: themed("navBackgroundColor");
			}
		}
	}

	.block-title {
		display: block;
		text-align: center;
		font-size: 1.4em;
		margin-top: 1em;
		margin-bottom: 0.2em;
	}

	.versioning-block {
		margin-top: 1em;
	}
}

.is-content-block {
	padding: 1em;
	border-radius: 0.3em;

	@include themify() {
		background-color: lighten(themed("backgroundColor"), 2);
	}
}

.emote-unknown {
	display: flex;
	width: 100%;
	height: 100%;
	place-content: center;
}

.chrome-bug {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	p {
		font-size: 1.5em;
	}
}
