@import "../themes.scss";

.emote-page {
	margin-right: 5%;
	margin-left: 5%;

	.heading-bar {
		margin-top: 1.5em;
		padding: 1em;
		border-radius: 0.3em;
		border-width: 0.05em;
		border-style: solid;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@include themify() {
			border-color: rgba(themed("color"), 0.5);
			background-color: lighten(themed("backgroundColor"), 2);
		}

		.emote-name {
			display: flex;
			align-items: center;
			flex-direction: row;

			.tiny-preview {
				min-width: 0.5em;
				min-height: 0.5em;
				margin-right: 1em;
			}
		}

		.emote-author {
			display: block;

			div {
				text-align: right;
				@include themify() {
					color: darken(themed("color"), 32);
				}
				margin-bottom: 0.25em;
				font-size: 0.75em;
			}
		}
	}

	.preview-block {
		padding: 1em;
		margin-top: 1em;
		border-radius: 0.3em;

		@include themify() {
			background-color: lighten(themed("backgroundColor"), 2);
		}

		display: flex;
		align-items: baseline;
		justify-content: center;
		padding-left: 20%;
		padding-right: 20%;

		@media screen and (max-width: 1110px) {
			flex-direction: column-reverse;
			text-align: center;

			.preview-size {
				margin-top: 2em;
			}
		}

		.preview-size {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			margin-right: 1em;
			margin-left: 1em;

			@media screen and (max-width: 600px) {
				&.is-large {
					display: none;
				}
			}
		}

		.format-toggle {
			width: 100%;
			position: absolute;
			display: none;

			.formats {
				position: absolute;
				right: 0;
				display: flex;
				justify-content: space-around;
				align-items: center;

				margin-right: 7.5%;
				height: 1.5em;
				border: currentColor solid 1px;
				border-radius: 0.25em;

				.format-opt {
					padding-left: 1em;
					padding-right: 1em;
					display: flex;
					height: 100%;
					width: 100%;
					align-items: center;
					justify-content: center;
					font-size: 0.75em;
					cursor: pointer;
					user-select: none;
					background-color: white;
					color: black;
				}
				.webp-side {
					&.selected {
						color: white;
						background-color: #5fae13;
					}
				}
				.avif-side {
					&.selected {
						background-color: #fbab2f;
					}
					&.unavailable {
						color: white;
						cursor: default;
						background-color: rgba(151, 151, 151, 0.363);
					}
				}
			}
		}

		&.is-loading {
			place-items: center;
			font-size: 1.5em;

			> .emote-is-processing {
				color: currentColor;
				animation: processingBlink 3s infinite ease-in-out;

				@include themify() {
					@keyframes processingBlink {
						0% {
							color: currentColor;
						}
						33% {
							color: red;
						}
						66% {
							color: currentColor;
						}
					}
				}
			}
		}
	}

	.interactive-block {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;

		.item {
			margin-top: 1em;
			width: 48%;
		}
		@media screen and (max-width: 900px) {
			.item {
				width: 100%;
			}
		}

		.actions-wrapper {
			display: flex;
			justify-content: center;
			width: 100%;

			@media screen and (max-width: 600px) {
				margin-left: 0;
			}

			.emote-interactions {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				max-width: 85%;
				border-bottom-left-radius: 0.5em;
				border-bottom-right-radius: 0.5em;
				padding-left: 1em;
				padding-right: 1em;

				@include themify() {
					background-color: lighten(themed("backgroundColor"), 2);
				}

				.emote-btn {
					margin: 0.85em;
					margin-left: 0.4em;
					margin-right: 0.4em;
				}
			}
		}
	}

	.block-title {
		display: block;
		text-align: center;
		font-size: 1.4em;
		margin-top: 1em;
		margin-bottom: 0.2em;
	}

	.versioning-block {
		margin-top: 1em;
	}
}

.is-content-block {
	padding: 1em;
	border-radius: 0.3em;

	@include themify() {
		background-color: lighten(themed("backgroundColor"), 2);
	}
}

.emote-unknown {
	display: flex;
	width: 100%;
	height: 100%;
	place-content: center;
}
