@import "@scss/themes.scss";

.emote-page {
	.heading-bar {
		padding: 0.75em;
		border-width: 0.05em;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@include themify() {
			background: linear-gradient(145deg, themed("navBackgroundColor") 12em, transparent 0),
				linear-gradient(-145deg, themed("navBackgroundColor") 12em, transparent 0);
		}

		.emote-name {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			> p {
				font-size: 1.5em;
				word-break: break-all;
				text-align: center;
				min-width: 8em;
				max-width: 28vw;
			}
			> span {
				color: silver;
				font-size: 0.66em;
			}
		}

		.emote-author {
			display: block;
			width: 33%;

			> p {
				@include themify() {
					color: darken(themed("color"), 32);
				}
				margin-bottom: 0.25em;
				font-size: 0.85em;
			}
		}

		.format-selector-outer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 33%;
			text-align: right;
			font-size: 0.85em;

			.format-selector {
				display: flex;
				align-items: center;
				margin-right: 3em;
				> .format-button {
					cursor: pointer;
					margin-right: 0.25em;
					margin-left: 0.25em;
					font-size: 3em;
					filter: brightness(50%);
					&:hover {
						filter: brightness(75%);
						transition: filter 200ms;
					}
				}
				> .format-button[selected="true"] {
					filter: brightness(100%);
				}

				@media screen and (max-width: 600px) {
					margin-right: 1em;
					flex-direction: column;
					> .format-button {
						margin-top: 0.25em;
					}
				}
			}
			@include themify() {
				color: darken(themed("color"), 32);
				span {
					color: themed("color");
				}
			}
		}

		@media screen and (max-width: 850px) {
			.emote-name {
				font-size: 1rem;
			}
			@include themify() {
				background: none;
				background-color: themed("navBackgroundColor");
			}
		}
	}

	.preview-block {
		padding: 1em;
		width: fit-content;
		border-radius: 0.3em;
		position: relative;

		display: flex;
		align-items: baseline;
		justify-content: center;
		align-self: center;

		@media screen and (max-width: 1110px) {
			flex-direction: column-reverse;
			text-align: center;

			.preview-size {
				margin-top: 2em;
			}
		}

		.preview-size {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			margin-right: 2em;
			margin-left: 2em;

			@media screen and (max-width: 600px) {
				&.is-large {
					display: none;
				}
			}
		}

		&.is-loading {
			place-items: center;
			min-height: 10em;

			> span {
				font-size: 1.5em;
			}
			> .emote-is-processing {
				color: currentColor;
				animation: processingBlink 3s infinite ease-in-out;
				@keyframes processingBlink {
					0% {
						color: currentColor;
					}
					33% {
						color: red;
					}
					66% {
						color: currentColor;
					}
				}
			}
		}

		&.in-unlisted-state {
			display: block;
			text-align: center;
			padding: 2.5em;

			> h2 {
				font-size: 2em;
			}

			> p {
				margin-left: 25%;
				margin-right: 25%;
			}
		}
	}

	.emote-tags {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 0.5em;
		text-align: center;
	}

	.interactive-block {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;

		.item {
			width: 50%;
		}
		@media screen and (max-width: 900px) {
			.item {
				width: 100%;
			}
		}

		.emote-interactions {
			width: 100%;
		}
	}

	.informative-block {
		display: flex;
		height: 100%;
		justify-content: space-between;

		[section] {
			display: flex;
			flex-direction: column;
			height: 100%;

			> .section-head {
				display: flex;
				align-items: center;
				> h3 {
					padding: 0.25em;
					font-weight: 300;
				}
			}
			> .section-content {
				display: flex;
				flex-direction: column;
			}
			&[section="versioning"] {
				width: 22.5%;
				max-width: 32em;
				height: 100%;
				@include themify() {
					> .section-head {
						background-image: linear-gradient(-45deg, transparent 1.25em, themed("navBackgroundColor") 0);
					}
					> .section-content {
						background-color: darken(themed("backgroundColor"), 1);
						flex-grow: 1;
					}
				}
				> .section-head {
					padding-left: 0.5em;
				}
				> .section-content {
					height: calc(100vh - 24em);
					overflow: auto;
					margin-right: 1.75em;
				}
			}
			&[section="activity"] {
				width: 22.5%;
				max-width: 32em;
				@include themify() {
					> .section-head {
						background-image: linear-gradient(45deg, transparent 1.25em, themed("navBackgroundColor") 0);
					}
					> .section-content {
						background-color: darken(themed("backgroundColor"), 1);
					}
				}
				> .section-head {
					padding-right: 0.5em;
					justify-content: flex-end;
				}
				> .section-content {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 100%;
					margin-left: 1.75em;
					margin-right: 1em;
				}
			}
			&[section="channels"] {
				width: 55%;
				padding: 0.5em;

				.section-head {
					justify-content: center;
					font-size: 1.25em;
				}
			}

			&[section="channels"] > .section-content {
				$cardWidth: 10em;
				$cardHeight: 4em;
				$cardMargin: 0.33em;
				display: flex;
				justify-content: center;
				flex-direction: row;
				flex-wrap: wrap;
				padding: 0 calc((100% - ($cardWidth * 6)) / 2);

				.channel-card-wrapper {
					display: flex;
					align-items: center;
					flex-basis: $cardWidth;
					margin: 0.25em;

					&[ok="false"] {
						pointer-events: none;
						cursor: default;
					}
				}
				.channel-card {
					display: flex;
					align-items: center;
					cursor: pointer;
					height: $cardHeight;
					width: $cardWidth;
					border-radius: 0.35em;

					span.nametag-only {
						width: calc($cardWidth - 1em);
						flex-shrink: 1;
						overflow: hidden;
						text-overflow: ellipsis;
						word-break: break-all;
						margin-right: 0.5em;
					}
					div.user-picture {
						margin-left: 0.25em;
						margin-right: 0.25em;
					}
					@include themify() {
						background-color: lighten(themed("backgroundColor"), 2);

						&:hover {
							background-color: lighten(themed("backgroundColor"), 4);
						}
					}
				}
			}
		}

		@media screen and (max-width: 1200px) {
			flex-direction: column;
			background-color: inherit;

			[section] {
				width: calc(100vw - 2em) !important;
				margin: 1em;
				background-color: transparent !important;

				> .section-head {
					justify-content: center !important;
					border-radius: 0.35em;
					@include themify() {
						background-color: themed("navBackgroundColor");
					}
				}
				> .section-content {
					padding-left: 2em;
					padding-right: 2em;
					margin-top: 0.5em;
					background-color: transparent !important;
					height: fit-content !important;
				}
			}
		}
	}
}

.emote-unknown {
	display: flex;
	width: 100%;
	height: 100%;
	place-content: center;
}
