@import "@scss/themes.scss";
@import "@scss/common/shape.scss";

.emote-upload {
	display: flex;
	width: 100%;
	height: 100%;

	.heading {
		@include themify() {
			background-color: darken(themed("navBackgroundColor"), 2);
			border: 1px solid themed("backgroundColor");
		}
		padding: 0.75em;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		border-radius: 0.4em;
		@include themify() {
			background-color: darken(themed("backgroundColor"), 4);
		}
		height: 100%;

		.overall-form {
			display: flex;
			flex-direction: row;
			height: 100%;
			margin: 1em;
			justify-content: space-between;

			@include themify() {
				> .image-upload > span > .parent-emote {
					background-color: darken(themed("backgroundColor"), 2);
				}
				> .image-upload > div {
					background-color: darken(themed("backgroundColor"), 2);
					> .formats-viewer {
						background-color: transparentize(lighten(themed("backgroundColor"), 4), 0.25);
					}
					&[dragOver="true"] {
						background-color: transparentize(darken(themed("accent"), 8), 0.75);
					}
				}
			}

			> .form-grid-item {
				width: calc(100% / 3);
			}

			> .image-upload {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0.5em 1em;
				margin-right: 1em;
				border-radius: 0.4em;

				> span {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					flex-grow: 1;
				}

				> div {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					min-width: 26em;
					min-height: 26em;
					border-radius: 0.3em;
					clip-path: createbevel(1.5em);
					transition: background-color 130ms ease-in-out;

					&[dragOver="true"] {
						h3,
						a,
						label {
							pointer-events: none;
						}
					}

					> a.acceptable-format-list {
						cursor: pointer;
						user-select: none;
						text-align: end;
						font-size: 0.75rem;
						> span {
							display: block;
							color: gray;
						}
					}

					> .formats-viewer {
						position: absolute;
						width: 16em;
						display: flex;
						flex-direction: column;
						border-radius: 0.4em;
						padding: 0.5em;
						backdrop-filter: blur(4px);

						.format {
							display: flex;
							flex-direction: row;
							justify-content: space-evenly;

							&[categories] {
								margin-bottom: 0.4em;
								font-size: 0.85em;
							}

							[part] {
								margin-bottom: 0.25em;
							}
							[part="label"] {
								width: 33.3333%;
							}
							[part="animation"] {
								text-align: center;
								width: 33.3333%;
							}
							[part="transparency"] {
								text-align: center;
								width: 33.3333%;
							}
							[part="close-btn"] {
								cursor: pointer;
								margin-left: 0.5em;
							}
						}
					}
				}

				.parent-emote {
					padding: 1em;
					border-radius: 0.3em;
					display: flex;
					justify-content: space-between;
					align-items: center;
					box-shadow: 0 0 0.25em rgb(100, 70, 180);

					> .as-child-notice {
						text-align: center;
						margin-left: 1em;
					}
				}
			}

			label[for="file-upload"] {
				cursor: pointer;
				display: block;
				margin-top: 1em;
				width: fit-content;
				height: fit-content;
				user-select: none;

				img {
					pointer-events: none;
					min-width: 8rem;
					max-width: 24rem;
					height: 8rem;
					border: 4px dashed currentColor;
					border-radius: 0.25em;
				}
			}

			> .inputs {
				display: flex;
				flex-direction: column;
				margin-top: 1em;
				padding: 0.5em 1em;
				border-radius: 0.4em;

				.text-input {
					display: flex;
					flex-direction: column;
					max-width: 16em;
				}

				> form {
					.form-item {
						margin-top: 1em;
						margin-bottom: 1em;
					}

					> h4 {
						margin-bottom: 0.6em;
						opacity: 0.75;
					}
				}
			}

			@media screen and (max-width: 800px) {
				flex-direction: column;
				align-items: center;
				> .image-upload {
					align-items: center;
				}
				> .inputs {
					align-items: center;
				}
			}
		}

		> .upload-error {
			font-size: 1.5em;
			text-align: center;
			color: red;
		}
		> .actions {
			display: flex;
			width: 100%;
			height: 4em;
			z-index: 10;

			@include themify() {
				background-color: themed("backgroundColor");
			}
			overflow: hidden;
			> .progress {
				display: flex;
				@include themify() {
					background-color: lighten(themed("accent"), 4);
					color: themed("color");
				}

				> span {
					display: flex;
					align-items: center;
					font-size: 1.5em;
					width: 100%;

					> .submit-button {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						height: 100%;
						width: 100%;

						&.missing-file {
							pointer-events: none;
							filter: grayscale(100%);
						}

						@include themify() {
							background-color: themed("primary");
							&:hover {
								background-color: lighten(themed("primary"), 4);
							}
						}
					}
					> .progress-counter {
						margin-right: 0.5em;
					}
				}
			}
		}
	}
}
