@import "@scss/themes.scss";

.emote-upload {
	display: flex;
	width: 100%;
	height: 100%;

	$sideMargin: 5%;
	.heading {
		margin-top: 1em;
		margin-right: $sideMargin;
		margin-left: $sideMargin;

		@include themify() {
			background-color: darken(themed("backgroundColor"), 2);
			border: 1px solid themed("accent");
		}
		padding: 0.75em;
		border-radius: 0.4em;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		$margin: $sideMargin;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-right: $margin;
		margin-left: $margin;
		padding: 1em;
		border-radius: 0.4em;
		@include themify() {
			background-color: darken(themed("backgroundColor"), 4);
		}
		height: 100%;

		.interactive-block > .content-notice {
			opacity: 0.75;
			max-width: 75%;
			@media screen and (max-width: 900px) {
				max-width: 90%;
			}

			> h4 { font-size: 1rem; }
		}

		.overall-form {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;

			> .image-upload {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-top: 0.5em;
				padding: 0.5em 1em;
				border-radius: 0.4em;

				@include themify() {
					> a.acceptable-format-list {
						cursor: pointer;
						user-select: none;
						text-align: end;
						font-size: 0.75rem;
						> span {
							display: block;
							color: gray;
						}
					}

					> .formats-viewer {
						position: absolute;
						margin-top: 3em;
						width: 16em;
						display: flex;
						flex-direction: column;
						border-radius: 0.4em;
						padding: 0.5em;
						background-color: transparentize(lighten(themed("backgroundColor"), 4), 0.25);
						backdrop-filter: blur(4px);

						.format {
							display: flex;
							flex-direction: row;
							justify-content: space-evenly;

							&[categories] {
								margin-bottom: 0.4em;
								font-size: 0.85em;
							}

							[part] {
								margin-bottom: 0.25em;
							}
							[part="label"] {
								width: 33.33333%;
							}
							[part="animation"] {
								text-align: center;
								width: 33.33333%;
							}
							[part="transparency"] {
								text-align: center;
								width: 33.33333%;
							}
						}
					}
				}

				label[for="file-upload"] {
					cursor: pointer;
					display: block;
					margin-top: 1em;
					width: fit-content;
					height: fit-content;
					user-select: none;

					img {
						pointer-events: none;
						min-width: 8rem;
						max-width: 24rem;
						height: 8rem;
						border: 4px dashed currentColor;
						border-radius: 1em;
					}
				}
			}

			> .inputs {
				display: flex;
				flex-direction: column;
				margin-top: 1em;
				padding: 0.5em 1em;
				border-radius: 0.4em;

				> h3 {
					margin-bottom: 1em;
				}

				.text-input {
					display: flex;
					flex-direction: column;
					max-width: 16em;
				}

				> form {
					.form-item {
						margin-top: 1em;
						margin-bottom: 1em;
					}

					[credit-form] {
						margin-left: 1em;
						margin-top: 1em;
					}
				}
			}

			@media screen and (max-width: 800px) {
				flex-direction: column;
				> .image-upload {
					align-items: center;
				}
				> .inputs {
					align-items: center;
				}
			}
		}

		.progress-bar {
			text-align: center;
			margin-top: 1em;
			display: flex;
			flex-direction: column;
			align-items: center;
			> .upload-percent-progress {
				font-size: 6em;
			}
			> .upload-error {
				font-size: 1.35em;
				@include themify() {
					color: themed("warning");
				}
			}
		}

		> .actions {
			display: flex;
			border-radius: 0.3em;
			padding: 1em;
			@include themify() {
				background-color: themed("backgroundColor");
			}
		}
	}
}
