@import "@scss/themes.scss";

$sideWidth: 24rem;
$smallWidth: 800px;
.user-details {
	margin-left: 0.5em;
	width: $sideWidth;

	.user-card-wrapper {
		position: sticky;
		top: 4.5em;
	}
	.user-card-wrapper > .user-card {
		display: flex;
		flex-direction: row;
		position: absolute;
		max-width: $sideWidth;
		@include themify() {
			background-image: linear-gradient(180deg, themed("navBackgroundColor") 75%, transparent);
		}

		> [selector=profile-picture] {
			border-bottom-right-radius: 1em;
			padding: 0.5em;
		}
		> [selector="tag"] {
			padding: 0.5em;
			padding-left: 0.15em;
			height: fit-content;
			border-top-right-radius: 0.5em;
			border-bottom-right-radius: 0.5em;

			> [selector="bio"] {
				font-size: 0.75em;
				max-height: 5em;
				word-wrap: break-word;
				overflow: hidden;
				margin-right: 4em;
				@include themify() {
					color: mix(themed("color"), themed("backgroundColor"));
				}
			}
		}

		@media screen and (max-width: $smallWidth) {
			width: 100%;
			border-radius: 0;

			> [profile-picture] {
				padding: 1em;
			}
			> [tag] {
				font-size: 1.5em;
			}
		}
	}

	.user-details {
		width: $sideWidth;
		margin-left: 0.5em;
	}


	> .user-roles {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		width: 100%;
		justify-content: center;
		margin-bottom: 1em;

		> h3 {
			font-size: 75%;
			margin-bottom: 0.25em;
			@include themify() {
				color: mix(themed("backgroundColor"), themed("color"));
			}
		}

		.user-role-list {
			display: flex;
			flex-wrap: wrap;

			.user-role-chip {
				padding: 0.5em;
				margin-right: 0.25rem;
				margin-bottom: 0.25em;
				border-radius: 0.25rem;
				@include themify() {
					background-color: lighten(themed("backgroundColor"), 2);
				}
			}
		}
	}

	.user-metadata {
		margin-bottom: 1em;

		@include themify() {
			span {
				color: mix(themed("color"), rgb(175, 175, 175));
			}
		}

		> div > span {
			margin-left: 0.33em;
		}
	}

	.user-connections {
		display: block;
	}

	.user-conn {
		margin-bottom: 0.5em;
		padding: 0.75em;
		max-width: 18em;
		border-radius: 0.4em;

		.conn-title {
			:first-child {
				text-transform: capitalize;
			}
		}

		&[platform="TWITCH"] {
			background-color: rgb(100, 65, 164);
		}
		&[platform="YOUTUBE"] {
			background-color: rgb(255, 0, 0);
		}
		&[platform="DISCORD"] {
			background-color: rgb(114, 137, 218);
		}
	}
}
