@import "@scss/themes.scss";

.user-page {
	.full-user-card {
		display: flex;
		flex-direction: row;
		position: sticky;
		top: 6em;
		left: 1em;
		width: min-content;
		min-width: 22.5em;
		min-height: 3em;
		padding: 1em;
		border-radius: 0.4em;

		@include themify() {
			background-color: lighten(themed("backgroundColor"), 2);
		}

		@media screen and (max-width: 800px) {
			width: 100%;
			border-radius: 0;
		}
	}

	.full-user-card > .tag-and-roles {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		margin-left: 0.5em;
		width: 100%;
		justify-content: center;

		.user-role-list {
			display: flex;
			flex-wrap: wrap;

			.user-role-chip {
				padding: 0.5em;
				margin: 0.25rem;
				border-radius: 0.4rem;
				@include themify() {
					background-color: themed("backgroundColor");
				}
			}
		}
	}

	.xd {
		height: 100em;
	}
}

.user-unknown {
	display: flex;
	width: 100%;
	height: 100%;
	place-content: center;
}
