@import "@scss/themes.scss";
@import "@scss/common/connection-platforms.scss";

$sideWidth: 24rem;
$smallWidth: 800px;
.user-details {
	width: $sideWidth;

	h3.user-details-section {
		font-size: 75%;
		margin-bottom: 0.25em;

		@include themify() {
			color: mix(themed("backgroundColor"), themed("color"));
		}
	}

	.user-card-wrapper {
		position: sticky;
		top: 4.5em;
	}
	.user-card-wrapper > .user-card {
		display: flex;
		flex-direction: row;
		position: absolute;
		max-width: $sideWidth;

		@include themify() {
			background-image: linear-gradient(180deg, themed("navBackgroundColor") 75%, transparent);
		}

		> [selector="profile-picture"] {
			border-bottom-right-radius: 1em;
			padding: 0.5em;
		}
		> [selector="tag"] {
			padding: 0.5em;
			padding-left: 0.15em;
			height: fit-content;
			border-top-right-radius: 0.5em;
			border-bottom-right-radius: 0.5em;

			> [selector="bio"] {
				font-size: 0.75em;
				max-height: 5em;
				word-wrap: break-word;
				overflow: hidden;
				margin-right: 4em;
				@include themify() {
					color: mix(themed("color"), themed("backgroundColor"));
				}
			}
		}

		@media screen and (max-width: $smallWidth) {
			width: 100%;
			border-radius: 0;

			> [profile-picture] {
				padding: 1em;
			}
			> [tag] {
				font-size: 1.5em;
			}
		}
	}

	> .user-roles {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		width: 100%;
		justify-content: center;
		margin-bottom: 1em;
		margin-left: 0.5em;
	}

	> .settings-btn {
		display: grid;
		row-gap: 0.1em;

		> .user-button {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background-color: blue;
			font-size: 1.25em;
			width: 100%;
			height: 2.5em;

			@include themify() {
				background-color: lighten(themed("backgroundColor"), 4);
				&:hover {
					background-color: lighten(themed("backgroundColor"), 6);
				}
			}
		}
	}

	.user-metadata {
		margin-bottom: 1em;
		margin-left: 0.5em;

		@include themify() {
			span {
				color: mix(themed("color"), rgb(175, 175, 175));
			}
		}

		> div > span {
			margin-left: 0.33em;
		}
	}

	div[platform="TWITCH"] {
		color: white;
		border-color: darken($twitchBrandColor, 15);
		background-color: $twitchBrandColor;
	}
	div[platform="YOUTUBE"] {
		color: white;
		border-color: darken($youtubeBrandColor, 15);
		background-color: $youtubeBrandColor;

		&.with-gradient {
			background-image: radial-gradient(
				circle at center,
				transparentize(lighten($youtubeBrandColor, 20), 0.25) 0%,
				$youtubeBrandColor 75%
			);
		}
	}
	div[platform="DISCORD"] {
		color: white;
		border-color: darken($discordBrandColor, 7.5);
		background-color: $discordBrandColor;

		&.with-gradient {
			background-image: radial-gradient(
				circle at center,
				transparentize(lighten($discordBrandColor, 20), 0.25) 0%,
				$discordBrandColor 75%
			);
		}
	}

	div.user-connector {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1em;
		margin-left: 0.5em;

		> h3 {
			width: 100%;
		}

		div.connect-button {
			cursor: pointer;
			width: fit-content;
			border-radius: 0.2em;
			padding: 0.75em;

			transition: opacity linear 50ms;
			opacity: 0.75;
			margin-right: 0.33em;
			&:hover:not(.disabled) {
				opacity: 1;
			}

			&.disabled {
				cursor: default;
				filter: grayscale(1);
			}

			> :first-child {
				font-size: 1.5em;
			}
		}
	}

	.user-editors {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25em;
		margin-left: 0.5em;

		> h3 {
			width: 100%;
		}

		.editor {
			display: grid;
			grid-template-columns: auto auto;
			align-items: center;
			gap: 0.25em;
			width: fit-content;
			border-radius: 0.3rem;

			padding: 0.66em;

			@include themify() {
				background-color: transparentize(themed("color"), 0.75);

				&.add-editor-button {
					background-color: transparentize(themed("primary"), 0.25);
				}
			}

			&.add-editor-button,
			> .revoke-editor {
				cursor: pointer;
			}
		}
	}
}
