@import "@scss/themes.scss";

.admin-roles {
	width: 100%;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	@include themify() {
		background-color: lighten(themed("backgroundColor"), 2);
	}

	.role-list {
		width: 12em;
	}
	.role-selectable {
		display: flex;
		cursor: pointer;
		user-select: none;
		border-radius: inherit;
		padding: 1em;

		&:not(:hover, .active) {
			background-color: transparent !important;
		}
		.lock-icon {
			display: none;
		}
		&.locked {
			pointer-events: none;
			cursor: default;
			.lock-icon {
				display: block;
				margin-top: 0.15em;
				margin-left: 0.35em;
			}
		}
	}
	.create-role-btn {
		@include themify() {
			background-color: lighten(themed("backgroundColor"), 6) !important;
		}
		span {
			margin-left: 0.5em;
		}
	}

	.selected-role {
		padding: 1em;
		flex-grow: 1;
		@include themify() {
			background-color: lighten(themed("backgroundColor"), 1);
		}
	}
}
